/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/Ejercicio_1/nbproject/private/
/Java/Leccion1/Ejercicio_1/build/
/Java/Leccion1/Ejercicio_2/nbproject/private/
/Java/Leccion1/Ejercicio_2/build/
/Java/Leccion1/Ejercicio_3/nbproject/private/
/Java/Leccion1/Ejercicio_3/build/
/Java/Leccion1/Ejercicio_4/nbproject/private/
/Java/Leccion1/Ejercicio_4/build/
/Java/Leccion1/Leccion_2/nbproject/private/
/Java/Leccion1/Leccion_2/build/
/Java/Leccion1/CondicionalEjercicio_1/nbproject/private/
/Java/Leccion1/CondicionalEjercicios_1/nbproject/private/
/Java/Leccion1/CondicionalEjercicios_1/build/
/Java/Leccion1/CondicionalEjercicio_2/nbproject/private/
/Java/Leccion1/CondicionalEjercicio_2/build/
/Java/Leccion1/CondicionalEjercicio_3/nbproject/private/
/Java/Leccion1/CondicionalEjercicio_3/build/
/Java/Segundo Semestre/TSLeccion1/CicloWhile/nbproject/private/
/Java/Segundo Semestre/TSLeccion1/CicloWhile/build/
/Java/Segundo Semestre/TSLeccion1/EjercicioCiclos01/nbproject/private/
/Java/Segundo Semestre/TSLeccion1/EjercicioCiclos01/build/
/Java/Segundo Semestre/TSLeccion1/EjercicioCiclos02/nbproject/private/
/Java/Segundo Semestre/TSLeccion1/EjercicioCiclos02/build/
/Java/Leccion3/leccionClasesObjetos/nbproject/private/
/Java/Leccion3/Clase_Persona/nbproject/private/
/Java/Leccion3/leccionClasesObjetos/build/
/Java/Leccion4/Aritmetica/nbproject/private/
/Java/Leccion4/Aritmetica/build/
